h1 {
    font-size: 24px;
    padding-bottom: 8px;
    width: 300px;
    border-bottom: 2px solid black;
    text-align:center;
    margin: 0 auto;
}

p {
    width: 100px;
    margin: 0 auto;
    text-align:center;
}

